asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.4
idna==3.7
pillow==10.3.0
requests==2.31.0
sqlparse==0.5.0
sslcommerz-lib==1.0
tzdata==2024.1
urllib3==2.2.1



Sir, my channel's YouTube videos are not going viral. Now, sir, what can I do or am I doing something wrong?


Ma'am short videos get views but now I am not getting any views except for long videos. So what is the problem or what is happening on my channel right now? Ma'am, I am trying to release continuous videos.

Ma'am, I wanted to know something. Can I ask you some questions?


Ma'am, I wanted to know something. My sister is living in Germany and she wants to create a YouTube channel. If the numbers of that YouTube channel are Bangladeshi, will there be any problem? Or if you have a German number, the numbers that need to be verified, such as the two-step verification when making your thumbnail, will there be any problem?


Ma'am, if I verify with a German number or verify the channel with a number in Bangladesh, will there be any problem or what are the next steps for Google Adsense approval that will come to you from there and what can happen if I keep it in Germany or Bangladesh?


Ma'am, if I put the complete details of my sister's channel in German, but she wanted to keep the money in a bank account in Bangladesh, will there be any problem or will there be any problem with Google Adsense?


Ma'am, another thing I wanted to know is when is a Google Adsense account suspended from your side or is it actually a suspension of rules, regulations or violation? How do we actually understand that our Adsense account can be suspended or how many YouTube channels can we add to our Google Adsense account?



Ma'am, for example, I have added five YouTube channels to my Google Adsense account, added two websites, contained in a portfolio, blog site, in that case, sir, can my Google Adsense account be suspended or what kind of rules and regulations am I violating? Just to know the matter, what else Ma'am

Ma'am, what can I do now? Is there any problem on my side?
